/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #d4dee8;
  color: #3d3d3d;
  border-radius: 4px;
  width: 90px;
  text-align: center;
  font-weight: bold;
}

nav a:hover {
  color: white;
  background-color: #2a7dea;
}
nav a:active {
  background-color: black;
}
